*, html {
    margin:0;
    padding:0;  
}
body{
    background-color: #1F2937;
    color: white;
   
}

button{
    background-color: #3382f6;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    
}
.left{
 
    width: 600px;

}

.left h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.logo{
    width: 100px;
    margin-right: auto;
}
.right{
   display: flex;
    background-color: green;
}
header{
    display: flex;
    justify-content: flex-end;
    margin-left: 125px;
    margin-right: 125px;
}
    
nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  

}
nav > a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.section1{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 100px;
    
}
main p{
    font-size: 18px;
    color: #E5E7EB;
    
}
.section2 h1{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

}
.section2 .column{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    
}

