body{
    background-color: #1F2937;
    color: white;
}
a{
    color: grey;
}
h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.logo{
    width: 100px;
    margin-right: auto;
}
header{
    display: flex;
    justify-content: flex-end;
}
    
nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: green;
    margin-right: 100px;

}